/* scrollbar Styles  */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #e4e4e4a7;
  border-radius: 2px;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

.customScrollBar::-webkit-scrollbar {
  width: 5px;
}

.customScrollBar::-webkit-scrollbar-thumb {
  background-color: #ecececb6;
  border-radius: 2px;
}

.customScrollBar::-webkit-scrollbar-track {
  background-color: #ffffff10;
}

.customScrollBarforXaxis::-webkit-scrollbar {
  height: 6px;
}

.customScrollBarforXaxis::-webkit-scrollbar-thumb {
  background-color: #d6d6d66c;
  border-radius: 2px;
}

.customScrollBarforXaxis::-webkit-scrollbar-track {
  background-color: #ffffff10;
}

/* transition animations */
.slideFromRight {
  animation: fromRight 0.4s ease-in-out;
}

@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideFromLeft {
  animation: fromLeft 0.4s ease-in-out;
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideUp {
  animation: slideUp 0.4s ease-in-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* colors */
.themeColorForBG {
  background: linear-gradient(270deg, #41c494, #19878b);
}

.themeColor {
  background: linear-gradient(140deg, #5cdaab, #3bb3b7);
}

.loader {
  width: 25px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: rotate 500ms infinite linear;
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.component2Right {
  opacity: 0;
  transform: translateX(-80px);
  transition: transform 0.5s;
}

.component2Right.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.component2Left {
  opacity: 0;
  transform: translateX(50px);
  transition: transform 0.5s;
}

.component2Left.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.component2Up {
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.5s;
}

.component2Up.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.component2Down {
  opacity: 0;
  transform: translateY(-30px);
  transition: transform 0.5s;
}

.component2Down.is-visible {
  opacity: 1;
  transform: translateY(0);
}
